@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: var(--color-primary);
    background: linear-gradient(to top, rgba(30,35,38,.6), rgba(30,35,38,.9)), url(../img/baner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
}
h1{
    margin: 2rem;

}

main {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    padding: 3rem;
}
img{
    height: 100vh;
}

h1 {
    color: var(--text-color);
    font-size: 2.5rem;
}

:root {
    --color-primary: #000000;
    --text-color: #ffffff;
}

.main-nav {
    background: var(--color-primary);
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
}

    /* UTILIDADES */
.hidden{
    display: none;
}


    /* MENU DE NAVEGACION*/
.main-nav__menu {
    height: 100%;
    display: flex;
}

.main-nav ul {
    list-style: none;
}

.main-nav__menu-item {
    font-size: 1.75rem;
    float: left;
}

.main-nav a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.main-nav__logo {
    height: 4rem;
    padding: 0rem;
    box-sizing: border-box;
}
.main-nav__logo img{
    height: 100%;
}

    /* Barra de busqueda */
.main-nav__search, .main-nav__search form{
    height: 100%;
    margin-left: auto;
}

.main-nav__search form {
    display: flex;
    align-items: center;
}

.main-nav__search input {
    min-width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.main-nav__menu-item a:hover {
    background-color: #343434;
    color: var(--color-primary);
}

.main-nav__menu-item a {
    padding: 0 2rem;
    display: block;
    height: 5rem;
    line-height: 5rem;
}

    /* Menu desplegable */
.main-nav__submenu {
    display: none;
    min-width: 140px;
    position: absolute;
    border-radius:  10px;
    background-color: rgba(0, 0, 0, 0.9);
    max-height: 80%;
    overflow-y: scroll;
}

.main-nav__submenu a {
    padding: 0 1rem;
    font-weight: lighter;
    color: red;
    font-weight: 500;
    height: auto;
}
.main-nav__submenu a:hover {
    color: white;
}

.main-nav__menu-item:hover .main-nav__submenu{
    display: block;
}

input:focus {
    outline: none;
}

.productos {
    display: flex;
    gap: 1rem;
}
.producto {
    flex-basis: 250px; /* width */
    border-radius: 0.5rem;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.producto img {
    width: 100%;
}

.producto-nombre {
    margin-bottom: 1rem;
}

.producto-detalle {
    padding: 1rem;
    flex-grow: 1;
}

.producto-descripcion {
    color: #757575;
}

.producto-precio {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.producto footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem 1rem;
}

.btn {
    border: none;
    background-color: #feca52;
    color: #343434;
    padding: 1rem;
    font-size: 1rem;
}

.btn:hover {
    background-color: #343434;
    color: #feca52;
}

.btn-add-cart {
    flex-grow: 1;
}

.container-movies{
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   flex-wrap: wrap;
}



.movie{
    width: 200px;
    height: 300px;
}

.movie:hover{
    transform: scale(1.05);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.movie img{
    max-width: 100%;
    max-height: 100%;
}

.movie-info{
    position: absolute;
    width: 200px;
    height: 300px;
}


.container-movie-fullinfo{
    display: flex;
    flex-shrink: 0;
}

.fullinfo-data{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    flex-basis: 45%;

}

.fullinfo-data h2{
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: .2rem;
    margin-bottom: 3rem;
}

.fullinfo-data h3{
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1.1rem;
}

.imdb-raiting{
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: .6rem;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
}

.imdb-raiting span{
    color: #ecff15;
    
}

.btn-trailer{
    background-color: #ff0000;
    color: #ffffff;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: .8rem;
    border-radius: .4rem;
    width: 16%;
    height: 3%;
    margin-bottom: 1.4rem;
    gap: .4rem;
}

.btn-trailer i{
    font-size: 2.3rem;
}

.fullinfo-details{
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    
}

.details-datetime{
    height: 40px;
    color: #ffffff;
    display: flex;
    gap: 1rem;
    border-right: 2px solid white;
    padding-right: 2.5rem;
}

.details-genres{
    margin-left: 2.5rem;
    color: #757575;
    word-spacing: 1rem;
}

.overview{
    color: #ffffff;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 95%;
    margin-bottom: 6rem;

}

.container-platforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}



.container-platforms a{
    color: #ffffff;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: .4rem;
    text-decoration: none;
    font-weight: 700;
    transition: all ease-in .3s;
}

.container-platforms a:hover{
    color: #000000;
}


.full-info-resources{
    margin: 0 auto;
    width: 50%;
    padding: 0;
    transition: all ease-in-out .10s;
   
}


.full-info-resources div > *{
    width:100%;
    height: 600px;


}

.full-info-resources img{


}