@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
}

main {
    background: linear-gradient(to top, rgba(30,35,38,.6), rgba(30,35,38,.9)), url(../img/baner1.jpg);
    background-size: 100%;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    padding: 3rem;
}
img{
    height: 100vh;
}

h1 {
    color: var(--text-color);
    font-size: 2.5rem;
}

:root {
    --color-primary: #000000;
    --text-color: #ffffff;
}

.main-nav {
    background: var(--color-primary);
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
}

    /* MENU DE NAVEGACION*/
.main-nav__menu {
    height: 100%;
    display: flex;
}

.main-nav ul {
    list-style: none;
}

.main-nav__menu-item {
    font-size: 1.75rem;
    float: left;
}

.main-nav a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.main-nav__logo {
    height: 4rem;
    padding: 0rem;
    box-sizing: border-box;
}
.main-nav__logo img{
    height: 100%;
}

    /* Barra de busqueda */
.main-nav__search, .main-nav__search form{
    height: 100%;
    margin-left: auto;
}

.main-nav__search form {
    display: flex;
    align-items: center;
}

.main-nav__search input {
    min-width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.main-nav__menu-item a:hover {
    background-color: #343434;
    color: var(--color-primary);
}

.main-nav__menu-item a {
    padding: 0 2rem;
    display: block;
    height: 5rem;
    line-height: 5rem;
}

    /* Menu desplegable */
.main-nav__submenu {
    display: none;
    min-width: 140px;
    position: absolute;
    border-radius:  10px;
    background-color: rgba(0, 0, 0, 0.9);
    max-height: 80%;
    overflow-y: scroll;
}

.main-nav__submenu a {
    padding: 0 1rem;
    font-weight: lighter;
    color: red;
    font-weight: 500;
    height: auto;
}
.main-nav__submenu a:hover {
    color: white;
}

.main-nav__menu-item:hover .main-nav__submenu{
    display: block;
}

input:focus {
    outline: none;
}

.productos {
    display: flex;
    gap: 1rem;
}
.producto {
    flex-basis: 250px; /* width */
    border-radius: 0.5rem;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.producto img {
    width: 100%;
}

.producto-nombre {
    margin-bottom: 1rem;
}

.producto-detalle {
    padding: 1rem;
    flex-grow: 1;
}

.producto-descripcion {
    color: #757575;
}

.producto-precio {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.producto footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem 1rem;
}

.btn {
    border: none;
    background-color: #feca52;
    color: #343434;
    padding: 1rem;
    font-size: 1rem;
}

.btn:hover {
    background-color: #343434;
    color: #feca52;
}

.btn-add-cart {
    flex-grow: 1;
}

.container-movies{
   display: flex;
   justify-content: center; 
}

.movie-card-img{
    width: 200px;
    height: 400px;
}

